{% extends 'base.html' %}
{% load widget_tweaks %}

{% block head %}
<title>Sign Up | Let's Gym!</title>
{% endblock %}

{% block body %}

<div class="container">
<div class="col-md-6">

    <h2>Find a Gym Partner Today!</h2>
    <p>Log In | Sign Up</p>
    <br>

    {% for field in form.visible_fields %}
    {% csrf_token %}
    <div class="form-group">
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
    
    <button onclick="location.href='/account/login/'" type="button" class="btn btn-outline-primary">Log In</button>
    <button type="submit" class="btn btn-outline-secondary">Sign Up</button>

</div>
</div>
{% endblock %}
